@media only screen and (max-width: 600px) {
  #media-query {
    display: none;
    height: min-content;
  }



  #no-mobile {
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
        justify-content: space-around;
    background-color: black;
    display: flex;
    color: white;
    overflow: hidden;
    scroll-behavior: smooth;
  }

  body {
    overflow: hidden;
    background-color: black;
  }
  #no-mobile h3 {
    margin: 0;
    padding: 2em;
  }
}

@media only screen and (min-width: 600px) {
  #no-mobile {
    display: none;
  }
}
