@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

#overlay-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding-left: 16em;
}

.overlay {
  font-family: "DotGothic16", sans-serif !important;
  z-index: 1000;
  display: none;
}

.overlay.active {
  display: flex;
  top: 0;
  left: 0;
}

#aboutme {
  text-align: left;
  display: flex;
  flex-direction: column;
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 3em;
  display: flex;
  width: 84vw;
  height: 82vh;
  background: rgba(255, 182, 234, 0.296);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.2px);
  -webkit-backdrop-filter: blur(15.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Styles for the tilt block */


#am-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 3em;
  grid-row-gap: 0px;
}
/* Styles for the tilt block */
.card{
  margin-top: 2em;
  margin-left: 0 !important;
  width: 60%;
  display: block;
  margin: 0 auto;
  transition: box-shadow 0.1s, transform 0.1s;

  /*
    * Adding image to the background
    * No relation to the hover effect.
    */
}

.card:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

#portugal{
  width: 12em;
  border-radius: 1em;
  margin: 0;
}
#swiss{
  border-radius: 1em;
  margin: 0;
}

#img-container{
  display: flex;
  
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  gap: 0;
}
