@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

#o-container-active {
  display: flex !important;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#o-container-inactive {
  display: none;
}

#aboutme {
  margin: 3em;
  text-align: left;
  display: flex;
  flex-direction: row;
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 3em;
  width: fit-content;
  height: fit-content;
  background: rgba(255, 53, 198, 0.296);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.2px);
  -webkit-backdrop-filter: blur(15.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
}

#nations {
  align-items: center;
}

/* Styles for the tilt block */

/* Styles for the tilt block */
.card {
  margin-top: 2em;
  margin-left: 0 !important;
  width: 60%;
  display: block;
  margin: 0 auto;
  transition: box-shadow 0.1s, transform 0.1s;

  /*
    * Adding image to the background
    * No relation to the hover effect.
    */
}

.card:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

#img-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  margin: 2em;
  padding: 2em;
  min-width: 450px;
  min-height: 450px;
}

#portugal {
  grid-column: 1;
  grid-row: 1;
  width: 280px;
  height: 390px;
  rotate: -17deg;
  border-radius: 1.2em;
}

#swiss {
  grid-column: 1;
  grid-row: 1;
  width: 400px;
  height: 240px;
  rotate: 300deg;
  border-radius: 1.2em;
}
