@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}


#hero-section{
    font-family: 'Arapey', serif;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    justify-content: space-between;
    align-items: center;
}

#hero-section h1 {
    position: relative;
    top: 12em;
    text-align: right;
    flex: 1;
    margin-right: 1.4em;
}

#animation-bag{
    z-index: 0 !important; /* en-dessous du canvas */
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    flex-shrink: 0;
}

#animation-bag:hover{
    transform: scale(1.05);
}

#title-d{
    transition: ease-in-out 0.3s;
    filter: url(#displacementFilter);
}
#physic{
    position: relative;
}
#physic img {
    position: absolute;
    top: 0;
    left: 0;
}

#sandwich{
    z-index: 10 !important; /* au-dessus du canvas */
    display: none;
}



#korg-text{
display: none;
}






